<h3>Gallery</h3>

<div ng-controller="galleryController">
    <div class="container">
        <div class="row">
            <div class="col">            
            </div>

            <div class="col-11">
                <div class="container" style="padding-left: 40px;padding-right: 40px;">
                    <div class="row">
                        <div ng-repeat="image in images" class="col-4 image-container">                               
                            <img when-visible="animateElementIn"
                                when-not-visible="animateElementOut" 
                                delay-percent="0.99"
                                class="hidden gallery-image" ng-src="{{'Images/' + image}}">
                        </div>
                    </div>
                <!-- <div ng-repeat="image in images" style="height: 330px;width: 330px;display: inline-block;">
                    <img ng-if="($index % 4) != 0" class="gallery-image" ng-src="{{'Images/' + image}}">    
                    <img ng-if="($index % 4) == 0" when-visible="animateElementIn"
                        when-not-visible="animateElementOut" 
                        delay-percent="0.99"
                        class="hidden gallery-image" ng-src="{{'Images/' + image}}">
                        <img when-visible="animateElementIn"
                        when-not-visible="animateElementOut" 
                        delay-percent="0.99"
                        class="hidden gallery-image" ng-src="{{'Images/' + image}}"> 
                </div> -->
                </div>
            </div>

            <div class="col">
            </div>
        </div>
    </div>  
</div>